ul{
    list-style-type: none;
}

main{
    display:flex;
}

header{
    display:flex;
}
table{
    border: solid black;
}

nav{
    padding: 10px;
}

header{
    display: flex;
}

h5{
    color: lightgray;
}

main{
    display:flex;
}

img, section{
    margin:5px;
}

tr p{
    border: 2px solid black;
    background-color: lime;
}