ul{
    list-style-type: none;
}

main{
    display:flex;
}

header{
    display:flex;
}
table{
    border: solid black;
}

nav{
    padding: 10px;
}

header{
    display: flex;
}

h4{
    background-image: url("Paper.png");
}

main>section{
    display:flex;
}

img, section{
    margin:5px;
}

.BookShelf{
    background-image: url("BookShelf.png");
}

.BookShelf>p{
    background-image: url("Paper.png");
    text-align: center;
}

body{
    background-image: url("Background.png");
    background-repeat: repeat-x repeat-y;
}

nav{
    background-image: url("GenresThingy.png")
}

a>button{
    background-image: url("Paper.png");
    text-align: center;    
}

.info{
    background-image: url("Paper.png");
}